/* ---- reset ---- */
body {
  margin: 0;
  font: normal 75% Arial, Helvetica, sans-serif;
  
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

img {
  height: 250px;
  position: relative;
  margin-top: 15%;
  left: 45%;
}

canvas{ 
  display: block;
}

/* ---- particles.js container ---- */
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #232741;
  background-image: url("https://desktop.github.com/images/star-bg.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}