@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500);

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
}

span.loading {
  position:fixed;
  color: rgb(80, 80, 80);
  font-weight: 500;
}

span.loading::after {
  content: "";
  position: absolute;

  animation: loading 3s infinite;
}

.c-loader {
  width: 100px;
  height: 100px;

  border: 15px solid #E5E5E5;
  border-top-color: #5511DD;
  border-radius: 70px;

  animation: is-rotating 3s infinite;
}

@keyframes is-rotating {
  to {
    transform: rotate(1turn);
  }
}

@keyframes loading {
  0%{
    content: "";
  }
  33.3%{
    content: ".";
  }
  66.6%{
    content: "..";
  }
  100%{
    content: "...";
  }
}