@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500);

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  color: #FFFFFF;
  background: #457CA3
}

.main {
  width: 480px;
  height: 691px;
  border-radius: 15px;
  border: 3px solid rgba(255, 255, 255, 0.7);
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(45px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
}

.timer {
  display: flex;
  font-size: 120px;
}

.controle {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
}

.controle img {
  size: 50px;
}

.iniciar {
  position: relative;
  width: 290px;
  height: 56px;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
  cursor: pointer;
  border: none;
  border-radius: 15px;

  color: #457CA3;
  background: #FFFFFF;
  box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.25);
}

.pause {
  width: 50px;
  height: 50px;
  position: relative;
  cursor: pointer;
  border: none;
  background: none;
  padding: 3px 0 3px 0;
}

.reset {
  width: 50px;
  height: 50px;
  position: relative;
  cursor: pointer;
  border: none;
  background: none;
  padding: 3px 0 3px 0;
}